<%- include("partials/header.ejs") -%>

    <div class="heading">
        <h1>
            Your ATM Card Details
        </h1>
    </div>
    <div class="card">
        <!-- <img class="left-card" src="/img/credit-card.png" alt=""> -->
        <h2 class="cardnum">
            <%=cardNum%>
        </h2>
        <h2 class="year">
            <%=year%>
        </h2>
        <!-- <img class="right-card" src="/img/credit-card2.png" alt=""> -->
        <h2 class="cvv">
            <%=cvvNo%>
        </h2>
    </div>


    <%- include("partials/footer.ejs") -%>